.logo{
    width: 40px;
    height: 40px;
    border-radius: 35px;
    margin-left: 20px;
}
.update{
    min-height: 400px;
    min-width: 400px;
    border: 1px rgb(184, 225, 226) solid;
    padding: 3% 10% 3% 10%;  
    background: rgba(138, 239, 234, 0.3) 
  }
  
  .arrow {
    margin-left: 8px;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 90px;
  }
  .box{
    width: 350px;
    height: 70px;
    border: 1px rgb(142, 223, 215) solid;
    background-color: rgb(195, 247, 230);
    text-align: center;
    padding-top: 16px;
    font-size: larger;
    font-weight: bolder;
    margin: 3%;
  }
  .box:hover{
    background-color: rgb(121, 179, 160);
    cursor: pointer;
  }
  .alert-success {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    border-radius: 0;
    text-align: center;
  }