<section class="firstSection">
    <nav class="navbar navbar-light bg-dark" >
        <a class="navbar-brand px-2">
          <img src="../../../assets/logo.jpeg" class="logo" alt="" />
          <h5 class="text-white mt-1">Let's Talk English</h5>
        </a>
        <ul class="navbar-nav"style="margin-left:auto ;">
            <li class="nav-item active">
              <a class="nav-link text-white" [routerLink]="['/profile']"><span><i class="fa fa-user-o" aria-hidden="true"></i></span> My Profile</a>
            </li>
        </ul>
        <div class="col-md-2 text-end px-3">
          <button class="btn btn-danger" (click)="logOut()">Logout</button>
        </div>
      </nav>
</section>

<header class="d-flex justify-content-center">
    <img src="../../../assets/logo.jpeg" class="logo1" alt="" />
    <h1>Welcome to <span style="font-style: italic;">  Let's Talk English</span></h1>
</header>
<section class="secondSection">
    <div class="container">
        <h3><strong>About the course</strong></h3>
        <p> Welcome to the Let's Talk English, your path to mastering English. Our user-friendly dashboard is your key to learning. Whether you're a beginner or an advanced learner, we've got you covered.</p>
        <!-- Include other content, features, and sections here -->
       <h3>Key Features:</h3> 
    <ol>
        <li>
            <p><strong>Courses: </strong> Choose from a range of courses, from grammar to conversation skills.</p>
        </li>
        <li>
            <p><strong>Progress Tracker: </strong> Monitor your progress, scores, and achievements.</p>
        </li>
    
    <li>
        <p><strong>Interactive Quizzes </strong> Test your knowledge and get instant feedback.</p>
    </li>
    
    <li>
        <p><strong>Grammar Drills:  </strong>Master English grammar with interactive exercises.</p>
    </li>
    
    <li><p><strong>Vocabulary Builder: </strong> Expand your word usage with contextual exercises.</p>
    </li>
    
    <li>
        <p><strong>Language Proficiency Tests:</strong> Prepare for TOEFL and IELTS.</p>
    </li>
    
    <li>
        <p><strong>Personalized Learning:</strong>
    Our platform tailors content to your style and progress for a unique experience.</p>
    </li>
    
    </ol>
    
    
    <h5>Start Your Journey</h5>
    <p>The Let's Talk English is your passport to English fluency. Begin your adventure today!</p>
    
    <h5>Need Help? <span><a target="_blank" href="https://wa.me/+919562888488">Contact Us</a></span></h5>
    <p>Our support team is ready to assist you.</p>
    <div class="text-center mt-3">
    <button *ngIf="userPaymentStatus=='PENDING'" class="btn btn-primary btn-lg mt-3 rounded shadow" [routerLink]="['/payment']">Start Your Journey</button>
    <button *ngIf="userPaymentStatus=='PAID'" [disabled]="userverified!=true" class="btn btn-primary btn-lg mt-3 rounded shadow" [routerLink]="['/course-content']">Start Course</button>
    </div>
    </div>
</section>

<footer>
    <p>Stay Inspired and Keep Learning!</p>
    <p>&copy; {{ currentYear }}  Realroom360. All rights reserved.</p>
</footer>