.firstSection{
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    width: 40px;
    height: 40;
    border-radius: 35px;
    margin-left: 20px;
}
.logo1{
    width: 90px;
    height: 90px;
    border-radius: 60px;
    margin-top: -15px;
    margin-right: 15px;
}
header {
    background-color: #1d5da3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
}
h1 {
    font-size: 48px;
}
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(111, 197, 193, 0.3) 
}
h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.feature {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007BFF;
}
.feature p {
    font-size: 18px;
}

footer {
    background-color: #1d5da3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.secondSection{
    background-image: url('../../../assets/bg.jpg');
    min-height: 750px;
}
