.logo{
    width: 40px;
    height: 40;
    border-radius: 35px;
    margin-left: 20px;
}
.secondSection{
    background-image: url('../../../assets/bg.jpg');
    min-height: 800px;
}
.update{
    min-height: 400px;
    min-width: 500px;
    border: 1px rgb(184, 225, 226) solid;
    padding: 6% 10% 3% 10%;  
    background: rgba(76, 175, 80, 0.3) 
  }