<section class="firstSection">
    <nav class="navbar navbar-light bg-dark" >
        <a class="navbar-brand px-1" [routerLink]="['/home']">
            <img src="../../../assets/logo.jpeg" class="logo" alt="" />
            <h5 class="text-white mt-1">Let's Talk English</h5>
          </a>
          <div class="col-md-4 text-end px-3">
            <button class="btn btn-danger" (click)="logOut()">Logout</button>
          </div>
      </nav>
</section>
<section class="secondSection">
    <app-success-alert></app-success-alert>
    <div class="container">
    <h4 class="text-muted"> Payment</h4>
    <div class="update row">
        <h6 class="text-begin text-primary mt-2">
            Hi <span style="color: rgb(2, 22, 55);">{{prefill.name}}</span> , <br> You need to purchase this eLearning module to start learning.<br> Thank you. <hr>
           <span class="text-danger">Total amount of {{amount}}/-</span> 
        </h6>
        <div class="text-center">
            <button class="btn btn-primary mt-5" (click)="payNow()">Pay Now</button>
        </div>
    </div>       
    </div>
</section>