<section class="firstSection">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand">
      <img src="../../../assets/logo.jpeg" class="logo" alt="" />
      <h5 class="text-white mt-1">Let's Talk English</h5>
    </a>
    <form [formGroup]="login" (ngSubmit)="submit()">
    <div class="row d-flex loginform">
      <div class="form-group col-md-5">
        <label for="username" class="text-secondary">Username</label>
        <input
          type="text"
          class="form-control mt-1"
          id="username"
          aria-describedby="emailHelp"
          placeholder="email / phone"
          formControlName="username"
          required
        />
      </div>
      <div class="form-group col-md-5">
        <label for="password" class="text-secondary">Password</label>
        <input
          type="password"
          class="form-control mt-1"
          formControlName="password"
          id="password"
          placeholder="password"
          required
        />
        <p class="forget">
          <a data-bs-toggle="modal" data-bs-target="#forgetModal" class="forget" style="cursor: pointer;">Forgot password</a>
        </p>
        
      </div>
      <div class="col-md-2 mt-4 log text-center">
        <button type="submit" class="btn btn-primary login-btn">
          Login
        </button>
      </div>
    </div>
    </form>

  </nav>
</section>
<app-success-alert></app-success-alert>
<section class="secondSection">
<!-- Mo dal -->
<div class="modal fade" id="forgetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="forgetPassword">
          <div class="container row">
            <div class="form-group col-md-12">
              <label for="f-username" class="text-dark">Username</label>
              <input
                type="text"
                class="form-control mt-2"
                id="f-username"
                aria-describedby="emailHelp"
                placeholder="email / phone"
                formControlName="username"
                required
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-primary rounded" (click)="forget()" data-bs-dismiss="modal" aria-label="Close">Forget Password</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="enrollNow==true" class="row w-100 d-flex">
  <div class="col-md-7 bg1">
    <div class="text-dark">
      <h4 style="font-weight: bolder;">
        Elevate Your English Speaking Skills! <br>
        Master Phonetics with Interactive Sessions!!        
      </h4>
      <p class="mt-3">
        Receive expert guidance from <strong> Dr. Shyamala Sasidharan,</strong> Former Professor of English at the Institute of English, University of Kerala, India. 
      </p> 
      <h5 class="mt-3">
        What are we offering?
      </h5>
<p>
Tailored sessions focusing on spoken English fluency in diverse communicative scenarios.
Engaging, interactive learning to boost confidence in conversational English
Accessible from anywhere: Join online and become a fluent communicator!
</p>
<h5 class="mt-4">
Ready to Speak English Confidently?
</h5>
<p class="mt-3">
  Enroll now for a transformative experience in linguistic excellence!
</p>
    </div>
  </div>
  <div class="col-md-5 bg2 ">
    <div class=" w-100">
      <h3 class="text-danger" style="font-weight: bold;">
        Unlock the Power of Fluency with Dr. Shyamala Sasidharan!
      </h3>
    </div>
    <div class="w-100 ">
      <img src="../../../assets/im.jpg" class="photo mt-2" width="200px" height="250px" alt="">
    </div>
    <div class="w-100 mt-4">
      <span>Pay Just ₹ 9999 Only</span>
      <div class="btn-enroll" (click)="enrollNowBtn()"></div>
    </div>
    
  </div>
</div>
  <div *ngIf="enrollNow!=true" class="container w-100">
      <div class="container signup col-md-8 shadow">
        <h1 class="text-bold text-dark">Create an Account</h1>
        <hr class="my-4" />
        <div>
          <form [formGroup]="register" (ngSubmit)="signup()">
            <div class="form-group mt-3">
              <label for="firstname" class="text-secondary">First Name</label>
              <input
                type="text"
                class="form-control"
                id="f-name"
                formControlName="firstName"
                aria-describedby="nameHelp"
                placeholder="Enter first name"
                minlength="3"
                required
              />
            </div>
            <div class="form-group mt-3">
              <label for="lastname" class="text-secondary">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="l-name"
                formControlName="lastName"
                aria-describedby="nameHelp"
                placeholder="Enter last name"
                minlength="1"
                required
              />
            </div>
            <div class="form-group mt-3">
              <label for="phone" class="text-secondary">Phone Number</label>
              <input
                type="number"
                class="form-control"
                id="phone"
                formControlName="phone"
                aria-describedby="nameHelp"
                placeholder="Enter phone number"
                minlength="10"
                required
              />
            </div>
            <div class="form-group mt-3">
              <label for="email" class="text-secondary">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                required
              />
            </div>
            <div class="form-group mt-3">
              <label for="spassword" class="text-secondary">Password</label>
              <input
                type="password"
                class="form-control"
                id="spassword"
                formControlName="password"
                placeholder="Password"
                minlength="5"
                required
              />
            </div>

            <div class="text-center mt-3">
              <button [disabled]="!register.valid"  type="submit" class="btn btn-success mt-3 signup-btn">
                Signup
              </button>
            </div>
          </form>
        </div>
      </div>
   
  </div>
</section>
<footer>
  <p>Stay Inspired and Keep Learning!</p>
  <p>&copy; {{ currentYear }}  Realroom360 Technologies. All rights reserved.</p>
</footer>