<section class="firstSection">
    <nav class="navbar navbar-light bg-dark" >
        <a class="navbar-brand px-2">
          <img src="../../../assets/logo.jpeg" class="logo" alt="" />
          <h5 class="text-white mt-1">Let's Talk English</h5>
        </a>
        <div class="nav-opt" [routerLink]="['/dashboard']">
            <h5 class="text-white">Dashboard</h5> 
       </div>
        <div class="nav-opt" [routerLink]="['/users']">
           <h5 class="text-white">Users</h5> 
        </div> 
        <div class="nav-opt" [routerLink]="['/questions']">
            <h5 class="text-white">Questions</h5> 
        </div>
        <div class="nav-opt" [routerLink]="['/settings']">
            <h5 class="text-primary">Settings</h5> 
        </div>         
        <div class="col-md-3 text-end px-3">
          <button class="btn btn-danger" (click)="logOut()">Logout</button>
        </div>
      </nav>
</section>
<section class="secondSection">
    <div class="container mt-4">
        <h4 class="text-muted">App Settings</h4>
        <div class="update ">
            <form [formGroup]="settings" (ngSubmit)="update()" class="row">
            <div class="col-md-6">
                <label for="">Course Fees</label>
                <input type="number" class="form-control" id="feesAmount" formControlName="feesAmount" placeholder="Course Fees Amount">
            </div>
            <div class="col-md-6">
                <label for="">Pass Percentage of Examination</label>
                <input type="number" class="form-control" id="passPercentage" formControlName="passPercentage" placeholder="Pass Percentage">
            </div>
            <div class="col-md-6 mt-3">
                <label for="">Question Time Limiter</label>
                <input type="number" class="form-control" id="questionTimer" formControlName="questionTimer" placeholder="Question Time Limiter">
            </div>
            <div class="col-md-6 mt-3">
                <label for="">Questions Count</label>
                <input type="number" class="form-control" id="questionCount" formControlName="questionCount" placeholder="Questions Count">
            </div>
            <div class="w-100 text-center mt-5">
                <button class="btn btn-lg btn-outline-success"  type="submit">Update Settings</button>
            </div>
        </form>
        </div>
        
      </div>
</section>