.logo{
    width: 40px;
    height: 40;
    border-radius: 35px;
    margin-left: 20px;
}
.secondSection{
    background-image: url('../../../assets/bg.jpg');
    min-height: 750px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 90px;
  }
  .update{
    min-height: 400px;
    min-width: 500px;
    border: 1px rgb(184, 225, 226) solid;
    padding: 6% 10% 3% 10%;  
    background: rgba(76, 175, 80, 0.3) 
  }
  .update1{ 
    min-height: 200px;
    min-width: 450px;
    border: 1px rgb(184, 225, 226) solid;
    padding: 6% 10% 3% 10%;  
    background: rgba(76, 175, 80, 0.3) 
  }
  footer {
    background-color: #1d5da3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
  .alert-success {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    border-radius: 0;
    text-align: center;
  }